*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --moveX: 10deg;
    --moveY: 10deg;
}
.layers{
    perspective: 1000px;
    overflow: hidden;
}





.layer-item{
    position: absolute;
   /* top: -5vw;
    bottom: -5vw;
    left: -5vw;
    right: -5vw;*/
    inset: -5vw; 
    background-position: center ;
    background-size: cover;
}




.layer-contanier{
    height: 100vh;
transform: rotateX(var(--moveY)) rotateY(var(--moveX));
    transform-style: preserve-3d;
    will-change: transform;

}

.item-1 {
    transform: translateZ(-200px);
}

.item-2 {
    transform: translateZ(-200px);
}

.item-3 {
transform: translate(-150px);
}

.item-4 {
transform: translate(-200px);
}

.item-5 {
    transform: translate(300px);
}

.item-6 {
    transform: translate(350px);
}